# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# For production we'd exclude main.js and upload to GitHub releases instead.
# But for BRAT testing, we need to include main.js
# main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Test coverage reports
coverage

# Exclude macOS Finder (System Explorer) View States
.DS_Store
